In [1]:
# importamos librerías
import pandas as pd

# **Análsis inicial**

In [2]:
# cargamos el archivo con los datos
df_raw = pd.read_parquet("../data/reservas_hoteles.parquet")
df_raw.sample(15)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
7701,19e3afe6-4e7f-4e8b-81df-2eaac06b85c4,b945f486-a5e2-421f-b1c9-a8dcc9a09bda,Fortunato,Barba,fortunato.barba@example.com,False,2025-02-12,2025-03-01,2025-03-02,40,229.74,Hotel Luz de Madrid,1.0,Madrid
8210,51badf41-2a15-4e6c-979b-15d6ef3e72f5,8d78b967-99f0-42df-baaf-29c14d3a04d5,Isaías,Zaragoza,isaías.zaragoza@example.com,False,2025-02-09,2025-03-01,2025-03-02,28,221.11,Hotel Luz de Madrid,5.0,Madrid
5895,f66b2237-26b9-422d-aa45-89cd6e19ddbf,75889f9d-ff34-4924-9cf5-539d8f7bec06,Cayetana,Ángel,cayetana.ángel@example.com,False,2025-02-09,2025-03-01,2025-03-02,3,139.68,Hotel Rincón Sereno,2.0,Madrid
629,316c5b33-b912-41a5-96a5-9635a141a8e7,6e5991d8-aa30-4f85-8f49-a0d40deb5b6f,Chema,Bastida,chema.bastida@example.com,False,2025-02-04,2025-03-01,2025-03-02,33,153.50,Hotel Torre Dorada,2.0,Madrid
11596,c080748b-e3f2-447e-ad31-6b5a797a3861,f1be1d8c-6eb7-4eb7-a62b-cab321339f42,Marcelo,Bayón,marcelo.bayón@example.com,False,2025-02-11,2025-03-01,2025-03-02,29,415.71,Hotel Sol y Luna,2.0,Madrid
8931,a4e62541-3711-4464-82a7-15a5d01e2da8,f7e6636d-6e8c-4e74-8d08-29a440ff84ae,Áurea,Morales,áurea.morales@example.com,False,2025-02-01,2025-03-01,2025-03-02,2,266.97,Hotel Torre Dorada,5.0,Madrid
13599,a163aefc-9f6b-471e-86e2-e2a0a8689828,fd818ab0-f251-494b-b6c8-6963f91bcd2f,Nacio,Aguilera,nacio.aguilera@example.com,False,2025-02-02,2025-03-01,2025-03-02,40,383.37,Hotel Brisas del Mar,2.0,Madrid
7239,f8952f48-41d8-4a7b-983d-6f48440b0163,a8648939-b60a-4448-abbb-557632c4a724,Alcides,Cañizares,alcides.cañizares@example.com,False,2025-02-04,2025-03-01,2025-03-02,19,312.67,Hotel Monte Verde,5.0,Madrid
33,56aa252f-8c76-4712-a8d8-cfa844b5711a,aae14664-a527-41a9-93ae-cf5b636d7dd0,Emilio,Huerta,emilio.huerta@example.com,False,2025-02-09,2025-03-01,2025-03-02,29,394.62,Hotel Vista Alegre,4.0,Madrid
13679,4a79f61c-281b-49fa-bb23-2192e73d639b,a3b67b15-3127-48eb-bd52-9e5435a921c8,Norberto,Lara,norberto.lara@example.com,False,2025-02-11,2025-03-01,2025-03-02,49,417.87,Hotel Mirador Real,4.0,Madrid
6965,5d3da31b-fcbb-4b61-b44e-8108f58a3f32,7ab50187-d479-48cc-b9c6-726650a7a43a,Perlita,Carpio,perlita.carpio@example.com,False,2025-02-02,2025-03-01,2025-03-02,43,148.97,Hotel Sol y Luna,5.0,Madrid
9509,93b5029b-ec93-4639-af5d-43a3027cd0f1,729c18d5-44bf-451c-b658-67ec9ae06fed,Chuy,Barragán,chuy.barragán@example.com,False,2025-02-01,2025-03-01,2025-03-02,2,420.39,Palacio del Sol,3.0,Madrid
5986,9b6d3aa0-cdc2-4162-bc04-2a04628ceb73,0f2463e6-f6e9-4c43-89b0-5aedf5041fed,Tristán,Camps,tristán.camps@example.com,False,2025-02-06,2025-03-01,2025-03-02,40,240.74,Hotel Costa Azul,4.0,Madrid
6856,d00d1cec-3b15-4c48-a569-eee0ab068865,8151fc9f-c8e7-43c7-a6f5-c4041c9a9a4a,Jovita,Perera,jovita.perera@example.com,False,2025-02-11,2025-03-01,2025-03-02,19,437.25,Hotel Torre Dorada,3.0,Madrid
9691,e769c181-20c5-4adf-9e27-12d60473ab86,32a372c9-1402-4143-bc42-893c910a5b11,Rafael,Herrera,rafael.herrera@example.com,False,2025-02-05,2025-03-01,2025-03-02,15,294.68,Hotel Camino del Sol,2.0,Madrid

In [3]:
# info del dataframe con los datos
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    15098 non-null  object
 7   inicio_estancia  15023 non-null  object
 8   final_estancia   15023 non-null  object
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [4]:
# Hacemos copia del dataframe para trabajar
df = df_raw.copy()

# Cambio columnas con fechas a datetime

In [5]:
# Las columnas de fecha_reserva, inicio_estancia y final_estancia deberían estar en formato fecha. Hacemos una función para transformarlas
def trans_fecha(lista_col, dataframe):
    for col in lista_col:
        dataframe[col] = pd.to_datetime(dataframe[col], errors="coerce")
    return dataframe

In [6]:
df = trans_fecha(["fecha_reserva", "inicio_estancia", "final_estancia"], df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

# Conteo hoteles competencia

In [7]:
competencia = df[df["competencia"]==True]
competencia["id_hotel"].nunique()# comprobamos cuántos hoteles son competencia

10

In [8]:
# info del dataframe de hoteles de la competencia
competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   id_cliente       5172 non-null   object
 2   nombre           5172 non-null   object
 3   apellido         5172 non-null   object
 4   mail             5172 non-null   object
 5   competencia      5172 non-null   bool
 6   fecha_reserva    0 non-null      datetime64[ns]
 7   inicio_estancia  5149 non-null   datetime64[ns]
 8   final_estancia   5149 non-null   datetime64[ns]
 9   id_hotel         5172 non-null   int64
 10  precio_noche     0 non-null      float64
 11  nombre_hotel     5172 non-null   object
 12  estrellas        0 non-null      float64
 13  ciudad           5172 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 570.7+ KB

In [9]:
competencia["nombre_hotel"].unique()

array([''], dtype=object)

Hay 10 hoteles de la competencia sin datos de precio_noche, nombre_hotel y estrellas. Vemos que el valor único de la columna nombre_hotel es " ", lo que implica que están todos vacíos. Tendremos que extraer la información faltante. Tampoco tenemos fecha_reserva.

# Fechas estancia

In [10]:
# miramos valores únicos de fechas de inicio y final de estancia porque las necesitaremos para buscar eventos en la API
inicio = df["inicio_estancia"].unique()
inicio

<DatetimeArray>
['2025-03-01 00:00:00', 'NaT']
Length: 2, dtype: datetime64[ns]

In [11]:
final = df["final_estancia"].unique()
final

<DatetimeArray>
['2025-03-02 00:00:00', 'NaT']
Length: 2, dtype: datetime64[ns]

In [12]:
final[0]

Timestamp('2025-03-02 00:00:00')

Como las fechas son las mismas, podríamos rellenar toda la columna con el mismo valor.

In [13]:
# Rellenamos las columnas del df con las fechas.
df["inicio_estancia"] = inicio[0]
df["final_estancia"] = final[0]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15098 non-null  datetime64[ns]
 8   final_estancia   15098 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

In [15]:
df.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
3895,ce010c33-77d1-4525-8e64-13f03952ecc9,84db791c-7132-4cbb-a0ac-9fb5a4251e5a,Mireia,Vallés,mireia.vallés@example.com,False,2025-02-08,2025-03-01,2025-03-02,13,162.92,Hotel Brisas del Mar,2.0,Madrid
1423,097e9e79-c64a-40a7-8421-4024b28e374a,0d9f4a3e-0063-4d44-89d2-eda1fdbe1e5f,Esperanza,Mayo,esperanza.mayo@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
10421,3c6c088a-4880-484a-871b-e9e406f0cc7c,8181db17-9ea9-4ff3-967f-6629560cae08,Adelina,Tolosa,adelina.tolosa@example.com,False,2025-02-01,2025-03-01,2025-03-02,19,371.51,Hotel Vista Alegre,3.0,Madrid
14561,d255f6c1-e1a1-4430-bee9-e8351c68bdd7,8eb85501-8960-4a02-a756-e333629503e3,Alejandro,Cañellas,alejandro.cañellas@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,187.73,Hotel Las Estrellas,4.0,Madrid
10931,b555f5ba-a3ef-4535-bfb9-99a6cb600253,adb2a93e-5ddd-436a-94d5-06410fe9e8b1,Sarita,Baquero,sarita.baquero@example.com,False,2025-02-04,2025-03-01,2025-03-02,38,138.80,Hotel Mirador Real,4.0,Madrid

# Ciudades

In [16]:
ciudades = df["ciudad"].unique()
ciudades

array(['', 'Madrid'], dtype=object)

In [17]:
# Rellenamos toda la columna con Madrid.
df["ciudad"] = "Madrid"
df.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
4759,4faa41cd-92a3-4ea3-ab30-21a2990f7eae,49058938-8c98-43c1-a68b-a43849b30719,Lino,Vilar,lino.vilar@example.com,True,NaT,2025-03-01,2025-03-02,114,NaN,,NaN,Madrid
3239,3d7c99f5-a47f-48e0-abca-c5093425df5f,ab44bdc9-b258-49af-8331-5d854ba0f639,Plácido,Arroyo,plácido.arroyo@example.com,False,2025-02-12,2025-03-01,2025-03-02,15,458.44,Hotel Camino del Sol,5.0,Madrid
7293,7d0eaaf1-0e80-4b88-a02d-02039a583306,8941b557-4ccb-4b41-9c6a-360f84d53d6c,América,Pons,américa.pons@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,99.46,Gran Hotel Madrid,2.0,Madrid
10392,f960591e-9050-4816-9f88-71fc2a0a2e53,24e7136b-1f27-4d96-a020-5817cecd77a3,Edmundo,Castells,edmundo.castells@example.com,False,2025-02-12,2025-03-01,2025-03-02,36,241.48,Hotel Sol y Luna,5.0,Madrid
8416,6e3bfd89-70e8-4aa4-81e5-093359cc40e8,5d5a6b48-777d-4fe0-a7a0-7563aa8004bd,Augusto,Soler,augusto.soler@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,Madrid

# Duplicados

In [18]:
duplicados = df.duplicated()
duplicados.sum()

np.int64(98)

In [19]:
# Hay 98 filas totalmente duplicadas, las eliminamos
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  object
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    9828 non-null   datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  int64
 10  precio_noche     9776 non-null   float64
 11  nombre_hotel     15000 non-null  object
 12  estrellas        9828 non-null   float64
 13  ciudad           15000 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.6+ MB

# **Transformación**

De cara a cargar los datos en la base de datos vamos a generar unas tablas a partir del df.

In [20]:
# Podemos tener id_hotel duplicados porque más de un cliente puede reservar en el mismo hotel y podemos tener id_cliente duplicados porque el mismo cliente puede haber hecho varias reservas
# lo que no podemos tener repetido es el id_reserva. Lo comprobamos
reservas = df["id_reserva"].duplicated().sum()
reservas

np.int64(0)

## Hoteles

In [21]:
# Cantidad de id_hotel
df["id_hotel"].nunique()

29

In [22]:
# Cantidad nombres hotel
df["nombre_hotel"].nunique()

20

Ya hemos visto que nos faltan datos de los hoteles de la competencia, lo que explica la discrepancia en la cantidad de valores únicos. Vamos a generar dos tablas de hoteles, una con los hoteles propios y otra con los de la competencia.

### Hoteles propios

In [23]:
df_propios = df[["id_hotel", "nombre_hotel" , "estrellas", "ciudad", "competencia"]][df["competencia"]==False]
df_propios.sample(5)

       id_hotel            nombre_hotel  estrellas  ciudad  competencia
14322         6  Hotel Palacio Imperial        3.0  Madrid        False
1988         13  Hotel Palacio Imperial        4.0  Madrid        False
13648        14       Hotel Monte Verde        5.0  Madrid        False
14043        28         Palacio del Sol        4.0  Madrid        False
3588         43         Palacio del Sol        2.0  Madrid        False

In [24]:
df_propios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9828 entries, 2 to 14999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_hotel      9828 non-null   int64
 1   nombre_hotel  9828 non-null   object
 2   estrellas     9828 non-null   float64
 3   ciudad        9828 non-null   object
 4   competencia   9828 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 393.5+ KB

Al sacar una muestra vemos que hay dos nombres de hotel con id_hotel distintos. Vamos a asociar un único id_hotel por cada nombre_hotel

In [25]:
nombres=df_propios["nombre_hotel"].unique()
nombres

array(['Hotel Monte Verde', 'Hotel Brisas del Mar',
       'Hotel Camino del Sol', 'Hotel Puerta del Cielo',
       'Hotel Encanto Real', 'Palacio del Sol', 'Hotel Jardines del Rey',
       'Hotel Las Estrellas', 'Gran Hotel Madrid', 'Hotel Torre Dorada',
       'Hotel Palacio Imperial', 'Hotel Luz de Madrid',
       'Hotel Los Almendros', 'Hotel Sol y Luna', 'Hotel Mirador Real',
       'Hotel Rincón Sereno', 'Hotel Vista Alegre', 'Hotel Costa Azul',
       'Hotel Maravilla Real'], dtype=object)

In [26]:
nombrehotel=[]
idhotel=[]
for nombre in enumerate(nombres, start=1):
    nombrehotel.append(nombre[1])
    idhotel.append(f"00{nombre[0]}")
hoteles_propios = dict(zip(nombrehotel, idhotel))
hoteles_propios

{'Hotel Monte Verde': '001',
 'Hotel Brisas del Mar': '002',
 'Hotel Camino del Sol': '003',
 'Hotel Puerta del Cielo': '004',
 'Hotel Encanto Real': '005',
 'Palacio del Sol': '006',
 'Hotel Jardines del Rey': '007',
 'Hotel Las Estrellas': '008',
 'Gran Hotel Madrid': '009',
 'Hotel Torre Dorada': '0010',
 'Hotel Palacio Imperial': '0011',
 'Hotel Luz de Madrid': '0012',
 'Hotel Los Almendros': '0013',
 'Hotel Sol y Luna': '0014',
 'Hotel Mirador Real': '0015',
 'Hotel Rincón Sereno': '0016',
 'Hotel Vista Alegre': '0017',
 'Hotel Costa Azul': '0018',
 'Hotel Maravilla Real': '0019'}

In [27]:
df_propios["id_hotel"] = df_propios["nombre_hotel"].map(hoteles_propios)
df_propios.sample(5)

      id_hotel         nombre_hotel  estrellas  ciudad  competencia
8188       001    Hotel Monte Verde        4.0  Madrid        False
882       0010   Hotel Torre Dorada        3.0  Madrid        False
14166      008  Hotel Las Estrellas        1.0  Madrid        False
2757      0014     Hotel Sol y Luna        3.0  Madrid        False
6042      0012  Hotel Luz de Madrid        4.0  Madrid        False

Una vez que tenemos los id_hotel correctamente asignados, debemos corregir la columna estrellas, que tiene valores distintos para el mismo nombre de hotel

In [28]:
# Calculamos la media de estrellas por cada nombre de hotel y redondeamos al entero más cercano
df_estrellas = round(df_propios.groupby("nombre_hotel")["estrellas"].mean().reset_index(),1)
df_estrellas

              nombre_hotel  estrellas
0        Gran Hotel Madrid        3.1
1     Hotel Brisas del Mar        3.1
2     Hotel Camino del Sol        3.1
3         Hotel Costa Azul        3.1
4       Hotel Encanto Real        3.0
5   Hotel Jardines del Rey        2.9
6      Hotel Las Estrellas        2.9
7      Hotel Los Almendros        3.0
8      Hotel Luz de Madrid        3.1
9     Hotel Maravilla Real        3.0
10      Hotel Mirador Real        3.0
11       Hotel Monte Verde        3.1
12  Hotel Palacio Imperial        3.0
13  Hotel Puerta del Cielo        3.0
14     Hotel Rincón Sereno        3.0
15        Hotel Sol y Luna        3.0
16      Hotel Torre Dorada        2.9
17      Hotel Vista Alegre        2.9
18         Palacio del Sol        3.0

In [29]:
# generamos un diccionario con los nombres de los hoteles y sus estrellas
nombrehotel=[]
estrellas=[]
for nombre in df_estrellas["nombre_hotel"]:
    nombrehotel.append(nombre)
for fila in df_estrellas["estrellas"]:
    estrellas.append(fila)
hoteles_estrellas = dict(zip(nombrehotel, estrellas))
hoteles_estrellas

{'Gran Hotel Madrid': 3.1,
 'Hotel Brisas del Mar': 3.1,
 'Hotel Camino del Sol': 3.1,
 'Hotel Costa Azul': 3.1,
 'Hotel Encanto Real': 3.0,
 'Hotel Jardines del Rey': 2.9,
 'Hotel Las Estrellas': 2.9,
 'Hotel Los Almendros': 3.0,
 'Hotel Luz de Madrid': 3.1,
 'Hotel Maravilla Real': 3.0,
 'Hotel Mirador Real': 3.0,
 'Hotel Monte Verde': 3.1,
 'Hotel Palacio Imperial': 3.0,
 'Hotel Puerta del Cielo': 3.0,
 'Hotel Rincón Sereno': 3.0,
 'Hotel Sol y Luna': 3.0,
 'Hotel Torre Dorada': 2.9,
 'Hotel Vista Alegre': 2.9,
 'Palacio del Sol': 3.0}

In [30]:
# Usamos el diccionario para mapear el df de hoteles propios y corregir la columna de estrellas
df_propios["estrellas"] = df_propios["nombre_hotel"].map(hoteles_estrellas)
df_propios.sample(5)

      id_hotel            nombre_hotel  estrellas  ciudad  competencia
13298      003    Hotel Camino del Sol        3.1  Madrid        False
5699       004  Hotel Puerta del Cielo        3.0  Madrid        False
11248      003    Hotel Camino del Sol        3.1  Madrid        False
12314      005      Hotel Encanto Real        3.0  Madrid        False
1413      0015      Hotel Mirador Real        3.0  Madrid        False

### Hoteles competencia

In [31]:
df_competencia = df[["id_hotel", "nombre_hotel", "estrellas", "ciudad", "competencia"]][df["competencia"]==True]
df_competencia.sample(5)

       id_hotel nombre_hotel  estrellas  ciudad  competencia
4972        181                     NaN  Madrid         True
8218        131                     NaN  Madrid         True
7411        186                     NaN  Madrid         True
13499       186                     NaN  Madrid         True
2532        114                     NaN  Madrid         True

In [32]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_hotel      5172 non-null   int64
 1   nombre_hotel  5172 non-null   object
 2   estrellas     0 non-null      float64
 3   ciudad        5172 non-null   object
 4   competencia   5172 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 207.1+ KB

In [33]:
info_competencia = pd.read_csv("hoteles_competencia.csv")
info_competencia

                                    nombre  estrellas  precio
0                 ibis Styles Madrid Prado        4.7     179
1            ibis Madrid Centro las Ventas        4.5     181
2              ibis budget Madrid Vallecas        4.3      95
3           ibis Madrid Aeropuerto Barajas        4.4     129
4           ibis Madrid Alcorcon Tresaguas        4.4      95
5            ibis budget Madrid Aeropuerto        4.0      97
6                   ibis Madrid Alcobendas        4.4      88
7     ibis budget Madrid Alcorcon Móstoles        4.5      77
8                  ibis Madrid Fuenlabrada        4.4      90
9  ibis Madrid Alcala de Henares La Garena        4.5      87

In [34]:
# generamos un diccionario con los nombres de los hoteles de la competencia y sus estrellas
nombrehotelc=[]
estrellasc=[]
for nombre in info_competencia["nombre"]:
    nombrehotelc.append(nombre)
for fila in info_competencia["estrellas"]:
    estrellasc.append(fila)
hcompetencia_estrellas = dict(zip(nombrehotelc, estrellasc))
hcompetencia_estrellas

{'ibis Styles Madrid Prado': 4.7,
 'ibis Madrid Centro las Ventas': 4.5,
 'ibis budget Madrid Vallecas': 4.3,
 'ibis Madrid Aeropuerto Barajas': 4.4,
 'ibis Madrid Alcorcon Tresaguas': 4.4,
 'ibis budget Madrid Aeropuerto': 4.0,
 'ibis Madrid Alcobendas': 4.4,
 'ibis budget Madrid Alcorcon Móstoles': 4.5,
 'ibis Madrid Fuenlabrada': 4.4,
 'ibis Madrid Alcala de Henares La Garena': 4.5}

In [35]:
# vamos a asociar los valores únidos de la columna id_hotel del df_competencia con los valores de nombre del df info_competencia
id_competencia = df_competencia["id_hotel"].unique()
ids_competencia =id_competencia.tolist()

In [36]:
nombres_competencia = info_competencia["nombre"].unique()
nombres_competencia

array(['ibis Styles Madrid Prado', 'ibis Madrid Centro las Ventas',
       'ibis budget Madrid Vallecas', 'ibis Madrid Aeropuerto Barajas',
       'ibis Madrid Alcorcon Tresaguas', 'ibis budget Madrid Aeropuerto',
       'ibis Madrid Alcobendas', 'ibis budget Madrid Alcorcon Móstoles',
       'ibis Madrid Fuenlabrada',
       'ibis Madrid Alcala de Henares La Garena'], dtype=object)

In [37]:
hoteles_ids = dict(zip(ids_competencia, nombres_competencia))

In [38]:
# Usamos el diccionario hoteles_ids para asignar un nombre de hotel a cada id
df_competencia["nombre_hotel"] = df_competencia["id_hotel"].map(hoteles_ids)
df_competencia.sample(5)

,id_hotel,nombre_hotel,estrellas,ciudad,competencia
3485,135,ibis Madrid Fuenlabrada,NaN,Madrid,True
9019,103,ibis Madrid Alcorcon Tresaguas,NaN,Madrid,True
12094,114,ibis Madrid Aeropuerto Barajas,NaN,Madrid,True
10621,181,ibis budget Madrid Aeropuerto,NaN,Madrid,True
7415,114,ibis Madrid Aeropuerto Barajas,NaN,Madrid,True

In [39]:
# Usamos el diccionario hcompetencia_estrellas para corregir las estrellas
df_competencia["estrellas"] = df_competencia["nombre_hotel"].map(hcompetencia_estrellas)
df_competencia.sample(5)

,id_hotel,nombre_hotel,estrellas,ciudad,competencia
12125,103,ibis Madrid Alcorcon Tresaguas,4.4,Madrid,True
47,113,ibis Styles Madrid Prado,4.7,Madrid,True
4058,103,ibis Madrid Alcorcon Tresaguas,4.4,Madrid,True
10654,128,ibis Madrid Alcobendas,4.4,Madrid,True
5563,113,ibis Styles Madrid Prado,4.7,Madrid,True

## Clientes

Como podemos tener dos clientes con el mismo nombre, tomaremos el mail de cliente como el valor único de cliente. Es posible que tengamos un mismo cliente que haya hecho vrias reservas, por lo que encontrar el mismo id_cliente varias veces tampoco indicaría error. Vamos a comprobar si el número de valores únicos de id_cliente se corresponde con el número de valores únicos de mail. De no ser así, podría indicar un error en la asignación de id_cliente que debemos corregir

In [40]:
df["id_cliente"].nunique()

14847

In [41]:
df["mail"].nunique()

14905

Vemos que hay más valores de mail que de id_cliente, lo que sugiere que más de un cliente tiene el mismo id. Vamos a corregir el id de la misma forma que hemos corregido los id_hotel.

In [42]:
df_clientes = df[["id_cliente", "nombre", "apellido", "mail"]]
df_clientes.sample(5)

,id_cliente,nombre,apellido,mail
12239,e05b8005-2e0e-4119-96ae-c2d157a4ea7c,Santos,Verdugo,santos.verdugo@example.com
5631,9dcf112c-dd59-492e-b52c-66c42fd1405b,Lorena,Escribano,lorena.escribano@example.com
13940,dfb619d1-f398-4acf-96cb-f4dc5afba14c,Patricio,Trujillo,patricio.trujillo@example.com
5525,44476697-6d19-432c-943a-e2dd4b0634e4,Rolando,Rosselló,rolando.rosselló@example.com
1749,2c0e3f86-2803-408f-a134-f1367a594b51,Aarón,Zabala,aarón.zabala@example.com

In [43]:
mails=df_clientes["mail"].unique()

In [44]:
mailcliente=[]
idcliente=[]
for mail in enumerate(mails, start=1):
    mailcliente.append(mail[1])
    idcliente.append(f"cliente0{mail[0]}")
mail_cliente = dict(zip(mailcliente, idcliente))

In [45]:
df_clientes["id_cliente"] = df_clientes["mail"].map(mail_cliente)
df_clientes.sample(5)

C:\Users\marta\AppData\Local\Temp\ipykernel_22204\243484314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes["id_cliente"] = df_clientes["mail"].map(mail_cliente)

          id_cliente    nombre  apellido                          mail
1402    cliente01403  Amarilis   Carbajo  amarilis.carbajo@example.com
4006    cliente04001  Herberto     Nadal    herberto.nadal@example.com
9779    cliente09740      Eloy    Querol       eloy.querol@example.com
12196  cliente012141      Hugo  Paniagua     hugo.paniagua@example.com
5677    cliente05664     Román   Fajardo     román.fajardo@example.com

## Reservas

Tomamos como fecha de reserva para los hoteles de la competencia la fecha de extracción de los datos, en este caso es 19-02-2025

Una vez que tenemos los id de cliente y hotel asignados, podemos comprobar las reservas, ya que el precio dependerá de la fecha de reserva y el hotel. Aplicamos el mapeo sobre el df "propios" para corregir los id y las estrellas.

In [46]:
df["id_cliente"] = df["mail"].map(mail_cliente)
df["estrellas"] = df["nombre_hotel"].map(hoteles_estrellas)
df["id_hotel"] = df["nombre_hotel"].map(hoteles_propios)
df.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
476,f46cde93-02df-4545-abfa-305847a03fd4,cliente0477,Leire,Rios,leire.rios@example.com,False,2025-02-04,2025-03-01,2025-03-02,0013,234.85,Hotel Los Almendros,3.0,Madrid
4713,5dc21b49-fb85-4c90-90dd-cce16eaf3c9f,cliente04705,Rebeca,Ibarra,rebeca.ibarra@example.com,True,NaT,2025-03-01,2025-03-02,NaN,NaN,,NaN,Madrid
12377,a3cfb888-c4c5-44e4-8044-95e2a0d56ff8,cliente012321,Lilia,Mur,lilia.mur@example.com,True,NaT,2025-03-01,2025-03-02,NaN,NaN,,NaN,Madrid
7356,681686b7-17de-4087-90bd-ab86a944b2b8,cliente07330,Genoveva,Escribano,genoveva.escribano@example.com,True,NaT,2025-03-01,2025-03-02,NaN,NaN,,NaN,Madrid
0,5256cc90-139b-43d2-8ec5-412495d751cf,cliente01,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,NaN,NaN,,NaN,Madrid

In [47]:
propios.info()

NameError: name 'propios' is not defined

In [ ]:
# filtramos por un nombre de hotel para ver si hay problemas
filtro1=propios[propios["precio_noche"].isnull()]
filtro1

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
351,9409dca1-00a4-4112-b82d-a5ec8e5e6dce,cliente0352,Eric,Guerra,eric.guerra@example.com,False,2025-02-06,NaT,NaT,003,NaN,Hotel Camino del Sol,3.0,Madrid
411,940f7d48-2ef3-4d8b-bedb-9904b91679dc,cliente0412,Roxana,Amigó,roxana.amigó@example.com,False,2025-02-02,NaT,NaT,004,NaN,Hotel Puerta del Cielo,3.0,Madrid
487,f539c9f5-603a-47a2-8794-7cc5ebc1cf11,cliente0488,Olivia,Coloma,olivia.coloma@example.com,False,2025-02-03,NaT,NaT,0014,NaN,Hotel Sol y Luna,3.0,Madrid
884,3245946e-817f-4d59-a7d2-eb4b1ae31db6,cliente0885,María José,Puente,maría josé.puente@example.com,False,2025-02-12,NaT,NaT,002,NaN,Hotel Brisas del Mar,3.0,Madrid
1623,6d939ddf-c0f0-4a38-99b7-eb4397be1a5e,cliente01624,José Luis,Jurado,josé luis.jurado@example.com,False,2025-02-11,NaT,NaT,003,NaN,Hotel Camino del Sol,3.0,Madrid
2020,29a05b27-f037-472a-974a-7fe2d5575e5b,cliente02021,Carmelita,Morante,carmelita.morante@example.com,False,2025-02-10,NaT,NaT,008,NaN,Hotel Las Estrellas,3.0,Madrid
2459,c0948ddd-05e6-4a50-99f3-7469d7d5eed4,cliente02460,David,Plaza,david.plaza@example.com,False,2025-02-04,NaT,NaT,004,NaN,Hotel Puerta del Cielo,3.0,Madrid
2543,4ccb9244-b980-4bda-b8bf-2d28a1b62cd4,cliente02544,Viviana,Baró,viviana.baró@example.com,False,2025-02-08,NaT,NaT,0014,NaN,Hotel Sol y Luna,3.0,Madrid
3035,3a1b18a1-392e-4a2b-b12c-e0b0e72e09b7,cliente03034,Marina,Julián,marina.julián@example.com,False,2025-02-01,NaT,NaT,008,NaN,Hotel Las Estrellas,3.0,Madrid
3910,12d2af1b-e769-4ca0-9955-55fa21f12091,cliente03906,Remigio,Rueda,remigio.rueda@example.com,False,2025-02-02,NaT,NaT,0012,NaN,Hotel Luz de Madrid,3.0,Madrid
4123,b0de248a-b7ed-4e53-ae34-9f0322894f3f,cliente04118,Vidal,Riquelme,vidal.riquelme@example.com,False,2025-02-03,NaT,NaT,004,NaN,Hotel Puerta del Cielo,3.0,Madrid
4604,5023f512-1f17-46fb-ab88-560b65fbe3df,cliente04597,Valerio,Cantón,valerio.cantón@example.com,False,2025-02-12,NaT,NaT,005,NaN,Hotel Encanto Real,3.0,Madrid
4950,4136ee64-5f4c-4893-8c33-8146c558a4f8,cliente04940,Asdrubal,Mateo,asdrubal.mateo@example.com,False,2025-02-05,NaT,NaT,0015,NaN,Hotel Mirador Real,3.0,Madrid
5030,597c41c8-5780-4330-916f-c2952c09a167,cliente05020,Samanta,Parra,samanta.parra@example.com,False,2025-02-11,NaT,NaT,0015,NaN,Hotel Mirador Real,3.0,Madrid
5584,6cbfbad8-7455-47fe-a24c-881a9cf38cb0,cliente05573,Reyna,Blanch,reyna.blanch@example.com,False,2025-02-02,NaT,NaT,006,NaN,Palacio del Sol,3.0,Madrid
5697,cf8de2c7-da2c-49e6-9508-e136d4d9c46d,cliente05684,Pía,Báez,pía.báez@example.com,False,2025-02-08,NaT,NaT,005,NaN,Hotel Encanto Real,3.0,Madrid
5970,ba129fae-dba9-4c24-bfc1-038a3e8e5977,cliente05955,Blanca,Ramón,blanca.ramón@example.com,False,2025-02-12,NaT,NaT,001,NaN,Hotel Monte Verde,3.0,Madrid
6179,e62c7a70-4012-40c4-9e9b-f004b9a31ced,cliente06162,Iván,Nuñez,iván.nuñez@example.com,False,2025-02-07,NaT,NaT,0010,NaN,Hotel Torre Dorada,3.0,Madrid
6315,2f5965bd-8a36-46c0-93a3-ad836dd3d43e,cliente06297,Fermín,Gallo,fermín.gallo@example.com,False,2025-02-11,NaT,NaT,0017,NaN,Hotel Vista Alegre,3.0,Madrid
6836,f2fde4cb-a445-467c-9a76-4ff824477306,cliente06815,Pablo,Cases,pablo.cases@example.com,False,2025-02-12,NaT,NaT,006,NaN,Palacio del Sol,3.0,Madrid
7103,e6ff7919-06c3-46f3-8bbf-7b3b324edf35,cliente07082,Baudelio,Verdugo,baudelio.verdugo@example.com,False,2025-02-10,NaT,NaT,0010,NaN,Hotel Torre Dorada,3.0,Madrid
7698,495e4276-c94b-41e1-86b7-854bf58d2f2c,cliente07669,Conrado,Pizarro,conrado.pizarro@example.com,False,2025-02-03,NaT,NaT,006,NaN,Palacio del Sol,3.0,Madrid
8290,11bcf9ac-44fb-44f6-aa2e-6cd19b65bfe4,cliente08259,Martirio,Mur,martirio.mur@example.com,False,2025-02-09,NaT,NaT,009,NaN,Gran Hotel Madrid,3.0,Madrid
8735,996e3dc7-a106-411f-9002-ec9edc26e9bb,cliente08703,Palmira,Tamarit,palmira.tamarit@example.com,False,2025-02-08,NaT,NaT,003,NaN,Hotel Camino del Sol,3.0,Madrid
8788,81268c36-0411-45ea-bb32-1ad02981af41,cliente08755,Soledad,Donoso,soledad.donoso@example.com,False,2025-02-03,NaT,NaT,0017,NaN,Hotel Vista Alegre,3.0,Madrid
9022,7d52fe2d-232e-41f5-a879-e121b8edafba,cliente08987,Fabiana,Nicolau,fabiana.nicolau@example.com,False,2025-02-09,NaT,NaT,008,NaN,Hotel Las Estrellas,3.0,Madrid
9132,82ab5525-12b9-4f3e-bfad-71f40c4ff610,cliente09097,Elba,Giner,elba.giner@example.com,False,2025-02-12,NaT,NaT,001,NaN,Hotel Monte Verde,3.0,Madrid
9205,b0f5de80-d317-4ef4-a9d8-577044728c60,cliente09169,Maximino,Cobo,maximino.cobo@example.com,False,2025-02-06,NaT,NaT,003,NaN,Hotel Camino del Sol,3.0,Madrid
9263,b0181813-63cf-4070-9683-7b78328bfc52,cliente09227,Isaac,Cerezo,isaac.cerezo@example.com,False,2025-02-09,NaT,NaT,0010,NaN,Hotel Torre Dorada,3.0,Madrid
9365,1264207d-b1a3-4980-bba2-565d5e3585fc,cliente09329,Jessica,Ramirez,jessica.ramirez@example.com,False,2025-02-06,NaT,NaT,009,NaN,Gran Hotel Madrid,3.0,Madrid
9367,d0ea50df-4082-4096-832a-3088c542dff9,cliente09331,Rico,Aguirre,rico.aguirre@example.com,False,2025-02-11,NaT,NaT,002,NaN,Hotel Brisas del Mar,3.0,Madrid
9420,f89063b1-60ab-4a4b-a0da-813b4dc430d5,cliente09382,Calista,Leal,calista.leal@example.com,False,2025-02-12,NaT,NaT,0016,NaN,Hotel Rincón Sereno,3.0,Madrid
9548,28aeaaf1-cf5d-4188-8f73-1807f5fdc4bc,cliente09510,Samu,Dueñas,samu.dueñas@example.com,False,2025-02-08,NaT,NaT,0018,NaN,Hotel Costa Azul,3.0,Madrid
9672,a9a0d5d5-6cda-4753-ab76-01cbd7fbc032,cliente09633,Teo,Diaz,teo.diaz@example.com,False,2025-02-10,NaT,NaT,007,NaN,Hotel Jardines del Rey,3.0,Madrid
9753,26013d9d-9058-4629-aeac-2f79dbb29dd2,cliente09714,Prudencia,Agullo,prudencia.agullo@example.com,False,2025-02-03,NaT,NaT,0013,NaN,Hotel Los Almendros,3.0,Madrid
9943,1d0be9f1-0092-462a-b40f-64c949c65e28,cliente09904,Josep,Egea,josep.egea@example.com,False,2025-02-05,NaT,NaT,0010,NaN,Hotel Torre Dorada,3.0,Madrid
9972,bca45540-4901-4c2a-8ad2-0ffca5e5c7b6,cliente09933,Aarón,Nevado,aarón.nevado@example.com,False,2025-02-01,NaT,NaT,0015,NaN,Hotel Mirador Real,3.0,Madrid
10057,8dba29d1-24d9-4cec-8746-8f224ec4dd9d,cliente010018,Casemiro,Bermúdez,casemiro.bermúdez@example.com,False,2025-02-08,NaT,NaT,001,NaN,Hotel Monte Verde,3.0,Madrid
10144,5bd91bb2-1e36-4fd0-b05c-a0861c27eb83,cliente010105,Ricardo,Bueno,ricardo.bueno@example.com,False,2025-02-01,NaT,NaT,0015,NaN,Hotel Mirador Real,3.0,Madrid
10385,bde91d05-5a45-4680-8313-f1b023f55caa,cliente010341,Armida,Dávila,armida.dávila@example.com,False,2025-02-12,NaT,NaT,0014,NaN,Hotel Sol y Luna,3.0,Madrid
10691,82dee4bc-b2bb-4112-a17c-0d41f862a22c,cliente010647,Edelmiro,Pérez,edelmiro.pérez@example.com,False,2025-02-08,NaT,NaT,0010,NaN,Hotel Torre Dorada,3.0,Madrid
11087,659a7201-9aa7-4b03-81af-8aef33eddc57,cliente011039,Piedad,Soto,piedad.soto@example.com,False,2025-02-09,NaT,NaT,008,NaN,Hotel Las Estrellas,3.0,Madrid
11366,6f154c6b-3798-4280-8515-8ebca14bff33,cliente011317,Juan Manuel,Muro,juan manuel.muro@example.com,False,2025-02-01,NaT,NaT,005,NaN,Hotel Encanto Real,3.0,Madrid
11848,ffab7f7e-80b3-4d3c-b5fa-67e70e0ae848,cliente011796,Amor,Moraleda,amor.moraleda@example.com,False,2025-02-03,NaT,NaT,0011,NaN,Hotel Palacio Imperial,3.0,Madrid
12159,d11a5704-de2b-4728-9c7a-698d7eadb870,cliente012104,Carmela,Cortes,carmela.cortes@example.com,False,2025-02-02,NaT,NaT,009,NaN,Gran Hotel Madrid,3.0,Madrid
12211,1b8b52b5-a644-425b-bcd3-837529caab9e,cliente012155,Marta,Benavente,marta.benavente@example.com,False,2025-02-04,NaT,NaT,0014,NaN,Hotel Sol y Luna,3.0,Madrid
12540,259b2819-4dde-4115-90b5-2662b01524e2,cliente012482,Alba,Rocha,alba.rocha@example.com,False,2025-02-05,NaT,NaT,0014,NaN,Hotel Sol y Luna,3.0,Madrid
12837,f97f77a7-4fb9-4ee4-8d6a-5a7863e2f625,cliente012775,Luís,Azorin,luís.azorin@example.com,False,2025-02-01,NaT,NaT,0018,NaN,Hotel Costa Azul,3.0,Madrid
13778,5ac549fe-e788-46ba-b4b6-b9839be5812d,cliente013700,Amalia,Iniesta,amalia.iniesta@example.com,False,2025-02-07,NaT,NaT,0013,NaN,Hotel Los Almendros,3.0,Madrid
14293,c4434bf2-bc0f-4ca5-9046-84bcc4d89f08,cliente014207,Reyes,Barco,reyes.barco@example.com,False,2025-02-10,NaT,NaT,001,NaN,Hotel Monte Verde,3.0,Madrid
14361,706cb610-da09-4589-9cd4-a42dcef35134,cliente014275,Bernabé,Lobo,bernabé.lobo@example.com,False,2025-02-03,NaT,NaT,0016,NaN,Hotel Rincón Sereno,3.0,Madrid
14448,082e9d77-076d-46d5-9b0e-f40ca70059a6,cliente014361,Pablo,Pavón,pablo.pavón@example.com,False,2025-02-12,NaT,NaT,0019,NaN,Hotel Maravilla Real,3.0,Madrid