# **Carga**

Una vez que tenemos los datos limpios y organizados, podemos cargarlos en la base de datos.

In [1]:
import pandas as pd 
# Cargamos los datos
df_ciudades = pd.read_pickle("ciudades.pkl")
df_eventos = pd.read.pickle("eventos.pkl")
df_hoteles = pd.read_pickle("hoteles.pkl")
df_clientes = pd.read_pickle("clientes.pkl")
df_reservas = pd.read_pickle("reservas.pkl")

AttributeError: module 'pandas' has no attribute 'read'

In [ ]:
# Nos conectamos a la base de datos que hemos creado y llamado "proyecto_ETL"
import psycopg2

# Configurar la conexión
conn = psycopg2.connect(
    dbname="proyecto_ETL",
    user="postgres",
    password="1234",
    host="localhost",
    port="5432")
# Crear un cursor para ejecutar comandos SQL
cur = conn.cursor()

In [ ]:
# Verificar la conexión
cur.execute("SELECT version();")
print(cur.fetchone())

('PostgreSQL 17rc1 on x86_64-windows, compiled by msvc-19.41.34120, 64-bit',)

In [ ]:
# Insertamos los datos de ciudades
# Convertir DataFrame a lista de tuplas
records = df_ciudades.to_records(index=False)
records_list = list(records)
query = ("""
    INSERT INTO ciudad (nombre_ciudad)
    VALUES (%s)
""")
cur.executemany(query, records_list)
# Guardar los cambios y cerrar conexión
conn.commit()

print("Registros insertados correctamente")

Registros insertados correctamente

In [ ]:
cur.execute("SELECT * FROM ciudad;")

In [ ]:
# Mostrar los resultados
for row in cur.fetchall():
    print(row)

(1, 'Madrid')

In [ ]:
conn.rollback()

In [ ]:
# Insertamos los datos de clientes
# Convertir DataFrame a lista de tuplas
records = df_clientes.to_records(index=False)
records_list = list(records)
query = ("""
    INSERT INTO clientes (id_cliente, nombre, apellido, mail)
    VALUES (%s, %s, %s, %s)
""")
cur.executemany(query, records_list)
# Guardar los cambios y cerrar conexión
conn.commit()

print("Registros insertados correctamente")

UniqueViolation: llave duplicada viola restricción de unicidad «clientes_pkey»
DETAIL:  Ya existe la llave (id_cliente)=(cliente_1876).

In [ ]:
# Conectarse a PostgreSQL
conn = psycopg2.connect(
    dbname="proyecto_ETL",
    user="postgres",
    password="1234",
    host="localhost",
    port="5432")
cur = conn.cursor()

# Obtener todas las ventas
cur.execute("SELECT * FROM ciudad;")

# Mostrar los resultados
for row in cur.fetchall():
    print(row)

# Cerrar conexión
cur.close()
conn.close()

(1, 'Madrid')
(3, 'Madrid')